body {
  background: white;
}

div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "DS-Digital";
  color: blue;
  font-size: 2rem;
  text-align: center;
}

/* Desktop First approach */
@media (max-width: 600px) {
  h1 {
    font-size: 5rem;
    color: rgb(250, 250, 250);
    text-align: center;
  }
}
